@import "../../../../assets/css/variables";
@import "../../../../assets/css/mixins";

.products {
    @include flex;
    flex-wrap: wrap;
    flex: 1 1 50%;
}
.menu {
  flex: 1;
}
.section-plp {
    margin: 0 auto;
}
li {
    a {
        color: black;
        text-decoration: none;
    }
}
.sidebar {
    display: none;
}

.active {
    background-color: $color-input-gray;
}

@media only screen and (min-width: 768px) {
    .product__container {
        flex: 1 1 50%;
        max-width: 50%;
    }
}

@media only screen and (min-width: 1023px) {
    .product__container {
        flex: 1 1 25%;
        max-width: 25%;
    }
}
@media only screen and (max-width: 767px) {
  .menu {
    flex: 1 1 100%;
  }
}
