@import "../../../../assets/css/variables";
@import "../../../../assets/css/mixins";
figure {
  margin-inline-start: 5px;
  margin-inline-end: 5px;
}

.category {
  @include flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 3%;
  box-shadow: 0px 6px 5px -3px $color-input-gray;
  background-size: 100% 2px;
  img {
    height: 50px;
    width: auto;
    margin: auto;
    display: flex;
    align-items: flex-start;
  }
  figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: space-evenly;
    h2 {
      font-size: 16px;
    }
  }
  p {
    font-size: 12px;
  }
  button {
    cursor: pointer;
    border: none;
    font-size: 12px;
    margin: 0;
    padding: 2%;
    :hover {
      background-color: $color-pink;
    }
  }
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

@media only screen and (min-width: 768px) {
  article {
    margin: 14px;
  }
  .category {
    height: auto;
    img {
      height: 150px;
    }
    button {
      padding: 1%;
      font-size: 0.9rem;
    }
    figcaption {
      h2 {
        font-size: 24px;
      }
    }
    p {
      font-size: 16px;
    }
  }

  .left-image img {
    height: 150px;
  }
  .below-row {
    margin: 0 200px;
  }

  .home-tile:last-child {
    border-bottom: none;
  }
}
