<section class="main-container">
    <div class="form-heading">
        <h2>Login</h2>
        <p>Get access to your Orders, Wishlist and Recommandations</p>
    </div>
    <div class="form-container">
        <form action="#" autocomplete="off">
            <div class="form-input">

                <input 
                    id="email" 
                    type="email" 
                    name="email" 
                    required 
                    aria-labelledby="email-label"
                    aria-required="true"
                >
                <label for="email" id="email-label">Email</label>
            </div>
            <div class="form-input">
             
                <input 
                    id="password" 
                    type="password" 
                    name="password" 
                    required 
                    aria-labelledby="password-label" 
                    aria-required="true">
                <label for="password" id="password-label">Password</label>
            </div>
            <button class="btn-login">Log in</button>
        </form>
    </div>
</section>