<section class="main-container">
  <div class="form__heading">
    <h2>Login</h2>
    <p>Get access to your Orders, Wishlist and Recommandations</p>
  </div>
  <div class="form__container">
    <form
      action="#"
      autocomplete="off"
      [formGroup]="loginForm"
      (ngSubmit)="submitData()"
    >
      <div class="form__input">
        <input
          id="email"
          type="email"
          name="email"
          required
          aria-labelledby="email-label"
          aria-required="true"
          formControlName="email"
        />
        <label for="email" id="email-label">Email</label>
      </div>
      <app-form-error
        [errors]="loginForm.controls['email'].errors"
        [showError]="
          loginForm.controls['email'].dirty ||
          loginForm.controls['email'].touched
        "
      ></app-form-error>
      <div class="form__input">
        <input
          id="password"
          type="password"
          name="password"
          required
          aria-labelledby="password-label"
          aria-required="true"
          formControlName="password"
        />
        <label for="password" id="password-label">Password</label>
      </div>
      <app-form-error
        [errors]="loginForm.controls['password'].errors"
        [showError]="
          loginForm.controls['password'].dirty ||
          loginForm.controls['password'].touched
        "
      ></app-form-error>
      <button class="btn-big-pink">Log in</button>
    </form>
  </div>
</section>
