@import "../../../../assets/css/variables";
@import "../../../../assets/css/mixins";

.brand-banner {
  margin: 10px;
  height: 70px;
  background-color: $color-white;
  margin-bottom: 100px;
}

.cart-container {
    position: fixed;
    width: 100%;
    height: 90%;
    z-index: 999;
    overflow-y: auto;
}

.cart-background-grey {
    background-color: $color-input-gray;
}

.cart-background-white {
    background-color: $color-white;
}
.item-header {
    background-color: $color-black;
    color: $color-white;
}

.items-text {
    padding: 20px;
}

.item-text-sm {
    font-size: 100%
}

.item-body {
    margin-top: 10px;
    background-color: $color-white;
}
.item-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $color-white;
    text-align: center;
}

.promo-code {
    text-align: center;
    margin-top: 5px;
}

.close-btn {
    position: relative;
    cursor: pointer;
    float: right;
    border: none;
    background-color: $color-black;
    color: $color-white;
}

.btn-cart {
    @include btn;
    width: 90%;
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: $color-pink;
    padding: 2%;
    margin-top: 10px;
}

.price {
    float: right;
    padding-right: 10px;
}

.logo-img {
    float: left;
    height: 54px;
    width: auto;
    padding: 10px;
}

.image-text {
    text-align: center;
    padding-top: 15px;
}

.product {
    padding: 10px;

    &__image {
      height: 60px;
      width: auto;
    }
    &__name {
      margin: 5px 15px;
      position: absolute;
      display: inline;
      font-size: 0.8rem;
    }
    &__num {
      height: 20px;
      width: 20px;
      background-color: $color-pink;
      border-radius: 10px;
      color: $color-white;
      text-align: center;
      display: inline-block;
      position: relative;
      cursor: pointer;
      border: none;
    }
    &__minus {
      left: 22px;
      bottom: 8px;
      .minus {
        position: relative;
        bottom: 3px;
      }
    }
    &__plus {
      left: 50px;
      bottom: 8px;
      .plus {
          position: relative;
          bottom: 3px;
      }
    }
    &__number {
      position: relative;
      left: 37px;
      bottom: 10px;
    }
    &__mutiple {
      position: relative;
      left: 70px;
      bottom: 8px;
      font-size: 27px;
    }
    &__price {
      position: relative;
      left: 100px;
      bottom: 8px;
      font-size: 16px;
    }
    &__total--price {
      position: relative;
      left: 170px;
      bottom: 8px;
      font-size: 16px;
    }
    &__empty {
      height: 58%;
      text-align: center;
      &--text {
        margin-top: 40%;
      }
      &--button {
        text-align: center;
      }
    }
}

@media only screen and (min-width: 768px) {
    .cart-container {
        width: 400px;
        right: 11%;
    }
    .item-footer {
        width: 400px;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .item-header.fill {
        background-color: #fff;
        color: black;
        margin-top: 30px;
    }
}
