<header>
  <div class="main-container">
    <div class="logo" >
      <img src="../../../../assets/images/logo_2x.png" alt="SABKA BAZAR" [routerLink]="home"/>
    </div>
    <nav class="navigation" role="navigation" rel="primary" aria-labelledby="nav1">
      <h2 id="nav1" class="d-none">Main navigation</h2>
      <ul>
        <li><a [routerLink]="home" routerLinkActive="active">Home</a></li>
        <li><a [routerLink]="products" routerLinkActive="active">Products</a></li>
      </ul>
    </nav>
    <div class="more-navigations">
      <nav role="navigation" rel="secondary" aria-labelledby="nav2">
        <h2 id="nav2" class="d-none">secondary navigation</h2>
        <ul>
          <li><a [routerLink]="login" routerLinkActive="active">Sign in</a></li>
          <li><a [routerLink]="signUp" routerLinkActive="active">Register</a></li>
        </ul>
      </nav>
      <button aria-label="Cart Button" (click)="toggleCartOpen()">
        <svg
          version="1.1"
          id="cart-icon"
          focusable="false"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 24 24"
          style="enable-background: new 0 0 24 24"
          xml:space="preserve"
        >
          <path
            d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49A1.003 1.003 0 0 0 20 4H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"
          />
        </svg>
        <span>{{ totalItemInCart }} items</span>
      </button>
    </div>
  </div>
</header>

<app-cart
  [isCartVisible]="isCartVisible"
  (closeCart)="toggleCartOpen()"
></app-cart>
<div
  *ngIf="isCartVisible"
  class="header-overlay"
  (click)="toggleCartOpen()"
></div>
