@import "./variables";
@import "./mixins";

.form {
  &__heading {
    flex: 0 1 40%;
    margin-left: 32px;
  }
  &__container {
    @include flex;
    form {
      width: 100%;
    }
  }
  &__input {
    padding-top: 3%;
    position: relative;
    label {
      position: absolute;
      pointer-events: none;
      top: 15px;
      transition: 300ms ease all;
    }
    input {
      cursor: text;
      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 1px solid $color-input-gray;
      padding-top: 20px;
      width: 100%;
      &:focus,
      &:valid {
        border-bottom: 1px solid $color-blue;
        + label {
          cursor: text;
          transform-origin: left bottom;
          transform: translate(0, -16px) scale(1);
          color: $color-blue;
        }
      }
    }
  }
  &__error {
    color: $color-red;
    padding-top: 2px;
  }
  @media only screen and (min-width: 768px) {
    &__heading {
      margin-left: 100px;
    }
    &__container {
      flex: 0 1 30%;
    }
  }
}
