/** colors **/
$color-pink: #d24357;
$color-blue: #85d8dc;
$color-dark-pink: #c03e57;
$color-black: #000000c7;
$color-light-gray: #eeeeee;
$color-red: #f01515c7;
$color-input-gray: #cfcfcf;
$color-white: #fff;

/** Fonts **/

$font-family: Dosis;

$font-11: 11px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;

$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;
